<mat-card>
    <mat-card-header>
        <mat-card-title>
            Points à utiliser
        </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngFor="let value of values">
        <div class="line">
            <mat-form-field class="field">
                <input matInput
                       type="text"
                       placeholder="x"
                       [(ngModel)]="value.x"
                       (ngModelChange)="valuesChanged.emit(values)"
                       spellcheck="false"
                >
            </mat-form-field>
            <mat-form-field class="field">
                <input matInput
                       type="text"
                       placeholder="f(x)"
                       [(ngModel)]="value.y"
                       (ngModelChange)="valuesChanged.emit(values)"
                       spellcheck="false"
                       (keydown)="onKeyDown($event.key, $event)">
            </mat-form-field>
            <button mat-icon-button (click)="remove(value)" tabindex="-1" color="primary">
                <mat-icon aria-label="Remove line">delete</mat-icon>
            </button>
        </div>
    </mat-card-content>
    <div class="add-button">
        <button mat-mini-fab (click)="add()">
            <mat-icon aria-label="Add button">add</mat-icon>
        </button>
    </div>
</mat-card>