<div [appTex]="equation + (result ? '=' + result : '')" style="min-height: 110px"></div>

<h2>Valeurs</h2>
<div *ngFor="let value of values">
    <div>
        <mat-form-field>
            <input matInput
                   type="text"
                   placeholder="x"
                   [(ngModel)]="value.x"
                   spellcheck="false">
        </mat-form-field>
        <mat-form-field>
            <input matInput
                   type="text"
                   placeholder="f(x)"
                   [(ngModel)]="value.y"
                   spellcheck="false"
            (keydown)="onKeyDown($event.key, $event)">
        </mat-form-field>
        <button mat-mini-fab (click)="remove(value)" tabindex="-1">
            <mat-icon aria-label="Remove line">remove</mat-icon>
        </button>
    </div>
</div>

<div>
    <button mat-mini-fab (click)="add()">
        <mat-icon aria-label="Add button">add</mat-icon>
    </button>
</div>