<div [appTex]="equation" style="min-height: 110px"></div>

<h2>Valeurs</h2>
<div *ngFor="let value of values">
    <div>
        <mat-form-field>
            <input matInput
                   type="text"
                   placeholder="x"
                   [(ngModel)]="value.x"
                   spellcheck="false">
        </mat-form-field>
        <mat-form-field>
            <input matInput
                   type="text"
                   placeholder="f(x)"
                   [(ngModel)]="value.y"
                   spellcheck="false">
        </mat-form-field>
    </div>
</div>

<div>
    <button mat-mini-fab (click)="add()">
        <mat-icon aria-label="Add button">add</mat-icon>
    </button>
</div>